.container {
  width: 100%;
  max-width: 1000px;
  color: var(--dark-gray);
  margin-inline: auto;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
}

.date {
  color: var(--medium-gray);
}