.container {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  flex: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.post {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 1.25rem;
  font-weight: bold;

  &:hover {
    opacity: 0.9;
    color: var(--turquoise-accent);
    text-decoration: underline;
  }
}

.date {
  margin-top: 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0.25rem;
  color: var(--medium-gray);
}

.sort {
  margin-left: 40px;
}

.divider {
  border: none;
  border-top: 1px solid var(--medium-gray);
  margin-inline: -0.5rem;
}
