.citation-author {
  font-size: 0.8rem;
  color: var(--medium-gray);
  font-style: italic;
}

.table-of-contents {
  & a {
    /* text-decoration: none; */
    color: inherit;

  }
  & a:hover {
    text-decoration: underline;
    color: var(--turquoise-accent);
  }
}
