.citation-author {
  font-size: 0.8rem;
  color: var(--medium-gray);
  font-style: italic;
}

.table-of-contents {
  & a {
    color: inherit;
  }
  & a:hover {
    color: var(--turquoise-accent);
  }
}

.markdown-gif {
  display: flex;
  justify-content: center;

  & img {
    max-width: 100%;
    border: 1px solid var(--dark-steel);
  }
}

.blog-markdown {
  line-height: 1.5;
  
  & p {


    & a {
      color: inherit;
    }

    & a:hover {
      color: var(--turquoise-accent);
    }
  }
}