.chip {
  background-color: var(--light-gray-2);
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: var(--dark-gray);
  user-select: none;
}

.selected {
  background: var(--gradient-accent);
  color: var(--light-lime);
}

.selectable {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
