.chip {
  background-color: var(--code-highlight);
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: var(--dark-gray);
  user-select: none;
}

.selected {
  background-color: var(--green-dark);
  color: var(--background-whitish);
}

.selectable {
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
